$primary-font: #222831;
$primary-background: #F9F9F9;
$secondary-background: #F7EFE5;
$main-width: 100%;
$main-height: 100%;


$margin: 20px;
$margin-bottom: 20px;
$padding-bottom: 20px;
$page-height: 100vh;
$page-width: 100vw;
$parent-fontsize: 40px;
$paddingleftandright: 3.5rem;

//tab specific palette
$tab-color: white;

// project specific size palette
$project-border-radius: 20px;
$inprojects-fontsize: 20px;
$projects-height: 15rem;
$project-padding: 20px;
$project-margin-left: 30px;
$project-padding-bottom: 20px;

  // project specific media palette
  $cardrightmargin: 10px;
  $cardrightfontsize: 15px;
  $cardmaxwidth: 300px;
  $cardheight: 180px;

